#root-wrapper {
    width: 90%;
    height: 100vh;
}

#navbar-wrapper {
    width: 10%;
}

#right-wrapper {
    width: 90%;
}

#header-wrapper {
    height: 5%;
}

#content-wrapper {
    min-height: 10%;
}